$primary: #fff;
/*Secondary=Color Textos*/
$secondary: rgb(128, 128, 128);
$white: #fff;
$theme-colors: (
    "primary" : $primary,
    "secondary": $secondary,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1380px
);
/*Navbar Custom*/
$navbar-light-color: $secondary;
$navbar-light-hover-color: $secondary;
$nav-link-font-weight: 600;
$nav-link-font-size: 1rem;

$primary-text-emphasis:#212529;
$link-color: $secondary;
$link-hover-color: $secondary;
@import "../node_modules/bootstrap/scss/bootstrap";
